{% extends 'paginas/modelo.html' %}
{% load static %}

{% block titulo %}
<title>Pagina Inicial</title>
{% endblock %}

{% block conteudo %}
<section id='horafun'>
    <br><br><br><br><br><br>
    <h2 id='horarios'>HORÁRIOS DE FUNCIONAMENTO</h2>
    <br>
    <p class='hora'><strong>Segunda-Quinta:</strong>19:00 ás 22:00 horas</p>
    <p class='hora'><strong>Sexta-Sábado:</strong>18:00 ás 23:00 horas </p>
    <p class='hora'><strong>Domingo:</strong>18:00 ás 22:00 horas </p>
    <br><br><br><br><br><br>
</section>
<br><br><br>
<section>
    <h2 id='ncardapio'>CARDÁPIO</h2>
    <br><br>
</section>
<section id="cardba">
    <br><br>
      <figure class="figure" style="background-color: white;" >
      <img src="{% static 'img/p11.jpg' %}" class="figure-img img-fluid rounded" alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure." style="width: 350px;">
      <figcaption class="figure-caption" ><strong>PIZZA DE CALABRESA</strong></figcaption>
      <figcaption class="figure-caption1" > Calabresa, Cebola,  Orégano, Azeitona</figcaption>
      <br>
     <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
      <label class="form-check-label" for="inlineCheckbox1"><strong>P</strong> R$28,00</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2"><strong>M</strong> R$40,00</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3"><strong>G</strong> R$50,00</label>
    </div>
    </figure>

{% endblock %}
