{% extends 'paginas/modelo.html' %}
{% load static %}

{% block titulo %}
<title>Pagina Inicial</title>
{% endblock %}

{% block destaque %}
<section style="background-color: black;">
  <img src="{% static 'img/logo.jpg' %}" alt="Logo" width="45%" height="45%">
</section>
{% endblock %}

{% block horarios %}
<section id='horafun' style="background-color: darkgray;">
  <br><br><br><br>
  <h2 id='horarios' class="text-center">HORÁRIOS DE FUNCIONAMENTO</h2>
  <br>
  <h5 class='text-center'><strong>Segunda-Quinta: </strong>19:00 ás 22:00 horas</h5>
  <h5 class='text-center'><strong>Sexta-Sábado: </strong>18:00 ás 23:00 horas</h5>
  <h5 class='text-center'><strong>Domingo: </strong>18:00 ás 22:00 horas</h5>
  <br><br><br><br>
</section>
{% endblock %}


{% block conteudo %}

<br><br><br>
<section>
    <h2 id='ncardapio' class="text-center">CARDÁPIO</h2>
    <br><br>
</section>

<section id="cardba" style="background-color: black;" class="text-center">
  <br><br>
  {% for pizza in pizzas %}
    <figure class="figure" style="background-color: white;">
      <img src="{{ pizza.imagem.url }}" class="figure-img img-fluid rounded" alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure." style="width: 350px;">
      <figcaption class="figure-caption"><strong>{{ pizza.nome }}</strong></figcaption>
      <figcaption class="figure-caption1" >{{ pizza.descricao }}</figcaption>
      <br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1"><strong>P</strong> R${{ pizza.valor_p }}</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2"><strong>M</strong> R${{ pizza.valor_m }}</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
        <label class="form-check-label" for="inlineCheckbox3"><strong>G</strong> R${{ pizza.valor_g }}</label>
      </div>
    </figure>
    <br><br>
  {% endfor %}
</section>
{% endblock %}
